*
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-size: 15px;
}
.continer-fluid div 
{
	background-color: #0D4E96;
}
.continer-fluid div div .menu-bar
{
	padding-left: 100px;
}
/*menu không bị lấp bởi phần sau*/
.menu-bar
{
	height: 18px;
	overflow: visible;
	position: fixed !important;
	z-index: 1000;
}
.menu-bar ul
{	display: inline-flex;
	list-style: none;
	color: #fff;
	white-space: inherit;
}
.menu-bar ul li a
{
	/*không có gạch chân của link liên kết*/
	text-decoration: none;
	position: relative;
	color: #fff;
	padding: 0 5px;
}
.menu-bar ul li:hover 
{
	color: #FAAC58 !important;	
}
.active
{
	padding: 2 2px;
	list-style-type: none;
	float: left;
	border-right: 2px solid white;
}
.sub-menu-1
{
	display: none;
}
.menu-bar ul li:hover .sub-menu-1
{
	display: block;
	position: absolute;
	background: #0D4E96;
}
.menu-bar ul li:hover .sub-menu-1 ul
{
	display: block;
}
.menu-bar ul li:hover .sub-menu-1 ul li
{
	width: 200px;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover
{
	color: #000000;
	background: #fff;
}
.container-fluid
{
	padding-left: 100px;
}
#carouselExampleControls
{
	padding-left: 100px;
}