*
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.continer-fluid div 
{
	background-color: #08088A;
}
.continer-fluid div div .menu-bar
{
	padding-left: 100px;
}
.menu-bar
{
	height: 15px;
}
.menu-bar ul
{	display: inline-flex;
	list-style: none;
	color: #fff;
	white-space: inherit;
}
.menu-bar ul li a
{
	/*không có gạch chân của link liên kết*/
	text-decoration: none;
	color: #fff;
	padding: 0 5px;
}
.menu-bar ul li:hover .active a
{
	color: #FAAC58;	
}
.active
{
	padding: 2 2px;
	list-style-type: none;
	float: left;
	border-right: 2px solid white;
}
.sub-menu-1
{
	display: none;
}
.menu-bar ul li:hover .sub-menu-1
{
	display: block;
	position: absolute;
	background: #08088A;
}
.menu-bar ul li:hover .sub-menu-1 ul
{
	display: block;
}
.menu-bar ul li:hover .sub-menu-1 ul li
{
	width: 200px;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover
{
	color: #000000;
	background-color: #fff;
}