/*TRANG CHỦ*/
/*CĂN CHỈNH CHUNG*/
*
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-size: 13px;
	font-family: sans-serif;
}

/*PHẦN THANH ĐIỀU HƯỚNG*/
.continer-1 div 
{
	background-color: #0D4E96;
	padding-left: 35px;
}
.menu-bar
{
	height: 30px;
}
.menu-bar ul
{	
	display: inline-flex;
	list-style: none;
	color: #fff;
	padding-top: 3px;
	font-weight: bold;
}
.menu-bar ul li a
{
	/*không có gạch chân của link liên kết*/
	text-decoration: none;
	position: relative;
	color: #fff;
	padding: 0 5px;
}
.menu-bar ul a:hover 
{
	color: #ffff56;	
}

.menu-bar ul ul 
{
	color: white;
	display: inline-table;
	line-height: 35px;
	position: relative;
}
.menu-bar ul ul a
{
	color: white;
	text-decoration: none;
	display: block;
}
.menu-bar ul ul a:hover 
{
	color: black;
	background: white;
}
.active
{
	/*Tạo gạch dọc giữa 2 phần*/
	border-right: 2px solid white;
}
.sub-menu-1
{
	display: none;
}
.menu-bar ul li:hover .sub-menu-1
{
	display: block;
	position: absolute;
	padding-left: 0px;
	line-height: 2em;
	width: 220px;
	/*Được đè lên trên*/
	z-index: 2;
}
.menu-bar ul li:hover .sub-menu-1 ul
{
	display: block;
}
/*Phần hình ảnh nhỏ ở menu-bar*/
.continer-1 .changLang 
{
	padding-right: 100px;
}


/*PHẦN MENU-MAIN*/
/*Tạo menu cố định*/
@media only screen and (max-width: 1000px) {
  .continer-1 ,.continer-1 .row{
  	height: 60px !important;
  }
}
.container-2
{
	width: 100%;
	background: white;
	display: block;
	/*Đổ bóng cho menu*/
	
	/*Tạo cố định menu*/
	
	
	left: 0;
	z-index: 100000;
	padding-top: 7px;
	padding-bottom: 7px;
}
.scrolled{
	position: fixed;
	top: 0;
	box-shadow: 0px 2px 2px rgba(0,0,0,0.5);
}
/*Căn chỉnh lề của menu-main*/
.container-2 div 
{
	padding-right: 40px;
	padding-left: 38px;
}
/*Chiều dài và chiều rộng của logo*/
.container-2 img
{
	width: 250px;
	height: 60px;
}
/*Phần menu-main*/
.menu-main ul
{
	list-style-type: none;
	background: white;
	font-weight: bold;
	float: right;
}
.menu-main ul li 
{
	display: inline-table;
	line-height: 40px;
}
.menu-main ul li a
{
	/*Cho chữ trong menu không bị wrap*/
	white-space: nowrap;
	padding: 0 10px;
	font-size: 12px;
	color: #333333;
	text-decoration: none;
	display: block;
}
.menu-main ul li a:hover
{
	color: #333333;
}
/*Phần menu-1*/
.menu-1 
{
	display: none;
	border-top: 2px solid blue;
}
.menu-main .menu-1 a:hover
{
	background: #EEEEEE;
	color: #0D4E96;
}
.menu-main ul li:hover .menu-1 
{
	display: block;
	position: absolute;
	padding: 0px;
	/*Được đè lên trên*/
	z-index: 2;
}
/*Để độ rộng của nền bằng chiều rộng khi rê chuột vào*/
.menu-main ul li:hover .menu-1 li
{
	display: block;
}

/*phần menu-3*/
.menu-3
{
	border-top: 2px solid blue;
}
/*Tránh ảnh hưởng của phần trước*/
.menu-main:hover .menu-3
{
	display: none;
}
.menu-2:hover .menu-3 
{
	display: block;
	position: absolute;
	padding: 0px;
	margin-left: 285px;
	margin-top: -40px;
	/*Được đè lên trên*/
	z-index: 1;
}
/*Phần menu-4*/
.menu-4
{
	border-top: 2px solid blue;
}
/*Tránh ảnh hưởng của phần trước*/
.menu-main:hover .menu-4
{
	display: none;
}
.menu-2:hover .menu-4 
{
	display: block;
	position: absolute;
	padding: 0px;
	margin-left: 250px;
	margin-top: -40px;
	/*Được đè lên trên*/
	z-index: 1;
}


/*PHẦN SLIDE SHOW*/
#carouselExampleControls
{
	padding-left: 100px;
}
/*Nút next ở slide */
#carouselExampleControls a
{
	margin-left: 70px;
	margin-right: 70px;
}


/*PHẦN TIN TỨC*/

.container-3 a
{
	font-size: 15px;
	color: #333333;
}
/*Căn chỉnh lề của dòng tin tức*/
.new
{
	color: #0D4E96;
	padding-left: 600px;
}
/*Hiệu ứng zoom ảnh*/
.container-3 img
{
	width: 250px;
	height: 150px;
	box-sizing: border-box;
}
/*Zoom ảnh 1*/
.image-1:hover img
{
	transform: scale(1.1);
	overflow: hidden;
	transition-duration: 0.5s;
       /* Safari & Google Chrome */
        -webkit-transition-duration: 0.5s; 
}
/*Zoom ảnh 2*/
.image-2:hover img
{
	transform: scale(1.1);
	overflow: hidden;
	transition-duration: 0.5s;
       /* Safari & Google Chrome */
        -webkit-transition-duration: 0.5s; 
}
/*Zoom ảnh 3*/
.image-3:hover img
{
	transform: scale(1.1);
	overflow: hidden;
	transition-duration: 0.5s;
       /* Safari & Google Chrome */
        -webkit-transition-duration: 0.5s; 
}
/*Thay đổi màu chữ*/
.content:hover a
{
	color: #666633;
}
.container-4 .col-md-4 .content-1:hover h4
{
	color: red;
}
.container-5 .col-md-4:hover p
{
	color: #666633;
}
/*Phần tin tiêu điểm*/
.container-3 .event-hightlinght h3
{
	color: #0D4E96;
	font-weight: bold;
}
.container-3 .event-hightlinght a
{
	text-decoration: none;
}

/*PHẦN THÔNG BÁO*/
/*Căn chỉnh lề của phần thông báo*/
.container-4
{
	padding: 0 100px;
}
/*Căn chỉnh lề của dòng THÔNG BÁO*/
.notification
{
	color: #0D4E96;
	padding-left: 270px;
}
/*Phần hình ảnh to nhất trong phần thông báo*/
.container-4 .index-img img
{
	width: 450px;
	height: 250px;
}
/*Phần góc nhìn HaUI*/
.container-4 a
{
	color: #333333;
}
/*Tiêu đề góc nhìn HaUI*/
.event-hightlinght h3
{
	color: #0D4E96;
	font-weight: bold;
	text-align: center; 
}
/*Làm mất form của li của phần góc nhìn HaUI*/
.content li
{
	list-style: none;
}

/*PHẦN SINH VIÊN HaUI*/
.container-6
{
	padding: 0 100px;
}
/*Căn chỉnh lề của dòng sinh viên haui*/
.student
{
	color: #0D4E96;
	padding-left: 470px;
}
/*Phần hình ảnh và tiêu đề của sinh viên haui*/
/*Phần hình ảnh*/
.new-top img
{
	width: 200px;
	height: 180px;
}
/*Phần tiêu đề của hình ảnh */
.new-top p
{
	margin-left: 130px;
	width: 160px;
	height: 180px;
	text-align: center;
	font-size: 17px;
	font-weight: bold;
	padding-top: 50px;
	color: white;
	background-color: #0D4E96;
}
/*Làm mất form của li*/
.irs-courses-content-one li
{
	list-style: none;
}

/*PHẦN LOGO*/
/*Chỉnh sửa hình ảnh ở phần logo*/
.item img
{
	margin-top: 50px;
	width: 80px;
	height: 80px;
	border: 2px solid #0D4E96;
	border-radius: 80px;
}
/*Chỉnh sửa kiểu chữ của các logo*/
.item p
{
	margin-left: -35px;
	width: 150px;
	color: #0D4E96;
	font-weight: bold;
}
/*Nút để di chuyển 2 phần của các logo*/
.irs-about-field .carousel-indicators {
    bottom: -30px;
}

section .carousel .carousel-indicators li {
    background-color: #ADB2B5;
}

section .carousel .carousel-indicators .active {
    background-color: #0d4e96;
}


/*PHẦN FOOTER*/
.irs-footer-field
{
	height: 400px;
	background: #6699FF;
	padding-top: 50px;
	color: white;
	line-height: 25px;
	background-image: url('image/5.jpg');
}
/*Làm mất form của li*/
.address li
{
	list-style: none;
	color: white;
}
/*Trở lại đầu trang*/
.back-to-the-top
{
	margin: 0px;
	width: 1350px;
	height: 50px;
	padding-top: 7px;
	background: #0D4E96;
	text-align: center;
}






/*TRANG INDEX-1.HTML*/
.container-1-1 
{
	width: 1350px;
	height: 200px;
	padding-left: 330px;
	padding-top: 30px;
	background: blue;
	background: url("image/5.jpg");
}
/*Phần nền slide*/
.irs-inner-heading h1
{
	border-width: 2px;
   	border-style: solid;
   	width: 700px;
   	height: 140px;
   	font-weight: bold;
}
/*PHẦN BLOG*/
.container-1-2
{
	padding-left: 100px;
	padding-right: 100px;
}
.input-group
{
	border: 1px solid #0D4E96;
}
/*Phần tin tiêu điểm*/
.irs-slide-title
{
	color: #0D4E96;
	font-weight: bold;
}
/*Phần ảnh*/
.irs-post-item img
{
	width: 70px;
	height: auto;
}
/*Tiêu đề của những mẫu tin*/
.irs-post-item p
{
	color: black;
	font-size: 15px; 
	padding-left: 50px; 
	width: 345px;
}
.irs-post-item div div div p
{
	text-decoration: none;
	position: relative;
}


/*PHẦN INDEX-8.HTML*/
.container-8--2 .irs-post-item p
{
	padding-left: 0px;
	width: 350px;
}
.irs-courses-content-8 p
{
	font-size: 20px;
	font-weight: bold;
}
.irs-courses-content-8:hover p
{
	color: red;
}
