/*CĂN CHỈNH CHUNG*/
*
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-size: 13px;
	font-family: sans-serif;
}

/*PHẦN THANH ĐIỀU HƯỚNG*/
.continer-1 div 
{
	background-color: #0D4E96;
	padding-left: 35px;
}
.menu-bar
{
	height: 30px;
}
.menu-bar ul
{	
	display: inline-flex;
	list-style: none;
	color: #fff;
	padding-top: 3px;
	font-weight: bold;
}
.menu-bar ul li a
{
	/*không có gạch chân của link liên kết*/
	text-decoration: none;
	position: relative;
	color: #fff;
	padding: 0 5px;
}
.menu-bar ul a:hover 
{
	color: #ffff56;	
}

.menu-bar ul ul 
{
	color: white;
	display: inline-table;
	line-height: 35px;
	position: relative;
}
.menu-bar ul ul a
{
	color: white;
	text-decoration: none;
	display: block;
}
.menu-bar ul ul a:hover 
{
	color: black;
	background: white;
}
.active
{
	/*Tạo gạch dọc giữa 2 phần*/
	border-right: 2px solid white;
}
.sub-menu-1
{
	display: none;
}
.menu-bar ul li:hover .sub-menu-1
{
	display: block;
	position: absolute;
	padding-left: 0px;
	line-height: 2em;
	width: 220px;
	/*Được đè lên trên*/
	z-index: 2;
}
.menu-bar ul li:hover .sub-menu-1 ul
{
	display: block;
}
/*Phần hình ảnh nhỏ ở menu-bar*/
.continer-1 .changLang 
{
	padding-right: 100px;
}


/*PHẦN MENU-MAIN*/
/*Tạo menu cố định*/
.container-2
{
	width: 100%;
	background: white;
	display: block;
	/*Đổ bóng cho menu*/
	box-shadow: 0px 2px 2px rgba(0,0,0,0.5);
	/*Tạo cố định menu*/
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100000;
	padding-top: 7px;
	padding-bottom: 7px;
}
/*Căn chỉnh lề của menu-main*/
.container-2 div 
{
	padding-right: 40px;
	padding-left: 38px;
}
/*Chiều dài và chiều rộng của logo*/
.container-2 img
{
	width: 250px;
	height: 60px;
}
/*Phần menu-main*/
.menu-main ul
{
	list-style-type: none;
	background: white;
	font-weight: bold;
	float: right;
}
.menu-main ul li 
{
	display: inline-table;
	line-height: 40px;
	/*position: relative;*/
}
.menu-main ul li a
{
	text-transform: uppercase;
	/*Cho chữ trong menu không bị wrap*/
	white-space: nowrap;
	padding: 0 10px;
	font-size: 12px;
	color: #333333;
	text-decoration: none;
	display: block;
}
.menu-main ul li a:hover
{
	color: #333333;
}
.menu-1 
{
	display: none;
	border-top: 2px solid blue;
}
.menu-main .menu-1 a:hover
{
	background: #EEEEEE;
	color: #0D4E96;
}
.menu-main ul li:hover .menu-1 
{
	display: block;
	position: absolute;
	padding: 0px;
	/*Được đè lên trên*/
	z-index: 2;
}
/*Để độ rộng của nền bằng chiều rộng khi rê chuột vào*/
.menu-main ul li:hover .menu-1 li
{
	display: block;
}
/*phần menu-2 chứa cả phần menu-3*/
.menu-3
{
	display: none;
	border-top: 2px solid blue;
}
/*Tránh bị ảnh hưởng bởi thuộc tính cha là menu-main*/
.menu-main ul li:hover .menu-3
{
	position: absolute;
}
.menu-1 ul li:hover .menu-3 
{
	display: block;
	position: absolute;
	padding: 0px;
	margin-left: 20px;
	margin-top: -40px;
	background: white;
	color: #0D4E96;
	/*Được đè lên trên*/
	z-index: 1;
}
.menu-2 ul li:hover .menu-3 li
{
	display: block;
}


/*PHẦN SLIDE SHOW*/
#carouselExampleControls
{
	padding-left: 100px;
}
/*Nút next ở slide */
#carouselExampleControls a
{
	margin-left: 70px;
	margin-right: 70px;
}


/*PHẦN BLOG TIN TỨC*/
.container-3 a
{
	font-size: 15px;
	text-decoration: none;
	color: #333333;
}
/*Căn chỉnh lề của dòng tin tức*/
.new
{
	color: #0D4E96;
	padding-left: 600px;
}
/*Hiệu ứng zoom ảnh*/
.container-3 img
{
	width: 250px;
	height: 150px;
	box-sizing: border-box;
	overflow: hidden;
	transform: 1s;
}/*
.container:hover img
{
	transform: scale(1.1);
	transform: 1s;
}*/
/*Phần tin tiêu điểm*/
.container-3 .event-hightlinght h3
{
	color: #0D4E96;
	font-weight: bold;
}


/*PHẦN THÔNG BÁO*/
/*Căn chỉnh lề của phần thông báo*/
.container-4
{
	padding: 0 100px;
}
/*Căn chỉnh lề của dòng THÔNG BÁO*/
.notification
{
	color: #0D4E96;
	padding-left: 470px;
}
/*Phần hình ảnh to nhất trong phần thông báo*/
.container-4 .index-img img
{
	width: 450px;
	height: 250px;
}
/*Phần góc nhìn HaUI*/
.container-4 a
{
	text-decoration: none;
	color: #333333;
}
/*Tiêu đề góc nhìn HaUI*/
.event-hightlinght h3
{
	color: #0D4E96;
	font-weight: bold;
	text-align: center; 
}
/*Làm mất form của li của phần góc nhìn HaUI*/
.content li
{
	list-style: none;
}